button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid #00ff00;
    color: #00ff00;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

input,
select {
    border: 2px solid #00ff00;
    padding: 20px;
    font-size: 20px;
    margin: 20px 0;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 0 10px #00ff00;
    color: #00ff00;
    background-image: url('s9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid #00ff00!important;
    color: #00ff00;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    background-color: black!important;
}

label {
    color: #00ff00;
}

body {
    background-color: #0f0f0f;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: large;
    background-image: url('tlo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

label.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}